#firstrow {
	padding-top: 15px;
	padding-bottom: 10px;
	padding-left: 3%;
	background-color: #f2f2f2;
}

#secondrow {
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#thirdrow {
	padding-top: 10px;
	color: white;
	font-size: 16px;
}

#fourthrow {
  padding-bottom: 70px;
  padding-right: 30px;
}

.patient_name {
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	color: #33cccc;
}

.logout {
	text-align: center;
}

.grayed {
	background-color: #f2f2f2;
}

.darkgrayed {
	background-color: #A9A9A9;
	padding-top: 10px;
	margin-bottom: 15px;
}

.signin {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.active {
    background-color: white;
}
