{% extends "base.html" %}

    {% block content %}
      <div class="container theme-showcase" role="main">
        <div class= "row">
          <div class="col-xs-12 col-md-10 col-md-offset-1" style="padding:0px">
            <div class= "col-xs-4" style="padding:0px">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Medical Treatment Plan<button type="button" class="btn btn-xs btn-default pull-right">Edit</button></h3>
                </div>
                <div class="panel-body">
                  <p class="box-label">Guardian Signature</p>
                  <p>date<br> </p>
                  <p class="box-label">Training Date</p>
                  <p>date<br> </p>
                  <p class="box-label">Medication(s)</p>
                  <p>definitely not benzine <br> </p>
                  <p class="box-label">Diagnoses</p>
                  <p>dxes relevant to this med plan<br> </p>
                  <p class="box-label">Symptoms</p>
                  <p> headache, vomiting <br> </p>
                </div>
              </div>
            </div>
            <div class= "col-xs-8">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Supportive and Protective Devices <button type="button" class="btn btn-xs btn-default pull-right">Add New</button></h3>
                </div>
                <div class="panel-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Assessment</th>
                        <th>Behavior</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Date</td>
                        <td>String, string, string <br></td>
                      </tr>
                    </tbody>
                  </table>
                  <p class= "box-label"> Summary </p>
                  <p> This is a summary <br> </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class= "row">
          <div class="col-xs-12 col-md-10 col-md-offset-1" style="padding:0px">
            <div class= "col-xs-4">
              <div class= "row">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Behavior Support Plan<button type="button" class="btn btn-xs btn-default pull-right">Edit</button></h3>
                  </div>
                  <div class="panel-body">
                    <p class="box-label">Guardian Signature</p>
                    <p>date<br> </p>
                    <p class="box-label">Residential Training</p>
                    <p>date<br> </p>
                    <p class="box-label">Day Training</p>
                    <p>date<br> </p>
                    <p class="box-label">Tier</p>
                    <p>Universal<br> </p>
                  </div>
                </div>
              </div>
              <div class= "row">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Rogers Monitor<button type="button" class="btn btn-xs btn-default pull-right">Edit</button></h3>
                  </div>
                  <div class="panel-body">
                    <p class="box-label">Next Court Date</p>
                    <p>date<br> </p>
                    <p class="box-label">Most Recent Court Date</p>
                    <p>date<br> </p>
                    <p class="box-label">Guardian Signature</p>
                    <p>date<br> </p>
                    <p class="box-label">Training Date</p>
                    <p>date<br> </p>
                    <p class="box-label">Medication(s)</p>
                    <p> string <br> </p>
                  </div>
                </div>
              </div>
            </div>
            <div class= "col-xs-8">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Restrictive Practices<button type="button" class="btn btn-xs btn-default pull-right">Add New</button></h3>
                </div>
                <div class="panel-body">
                  <!-- Able to add more of these: --> 
                  <div class= "col-xs-6">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">Door Lock<button type="button" class="btn btn-xs btn-default pull-right">Edit</button></h3>
                      </div>
                      <div class="panel-body">
                        <p class="box-label">HRC Approval Date</p>
                        <p>date<br> </p>
                        <p class="box-label">HRC Submission Date</p>
                        <p>date<br> </p>
                        <p class="box-label">Description</p>
                        <p>strings<br><br><br><br><br> </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}
