{% extends "base.html" %}
  {% block content %}
      <div class="container theme-showcase" role="main">
        <div class= "row">
          <div class="col-xs-12 col-md-10 col-md-offset-1">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Protocols<button type="button" class="btn btn-xs btn-default pull-right">Add New</button></h3>
              </div>
              <div class="panel-body">
                <!-- Able to add more of these: -->
                <div class="col-xs-4">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">Transport<button type="button" class="btn btn-xs btn-default pull-right">Edit</button></h3>
                    </div>
                    <div class="panel-body">
                      <p class="box-label"> Description</p>
                      <p>Must use wheelchair at all times- significant fall risk<br> </p>
                      <p class="box-label">Training Date</p>
                      <p>date<br> </p>
                      <p class="box-label">Guardian Signature</p>
                      <p>date<br> </p>
                      <p class="box-label">Physician Signature</p>
                      <p>date<br> </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class= "row">
          <div class="col-xs-12 col-md-10 col-md-offset-1" style="padding:0px">
            <div class= "col-xs-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">ISP<button type="button" class="btn btn-xs btn-default pull-right">Edit</button></h3>
                </div>
                <div class="panel-body">
                  <p class="box-label">Most Recent ISP</p>
                  <p>date<br> </p>
                  <p class="box-label">Semi-Annual Due</p>
                  <p>date<br> </p>
                  <p class="box-label">ISP Paperwork Due</p>
                  <p>date<br> </p>
                  <p class="box-label">ISP Due</p>
                  <p>date<br> </p>
                  <p class="box-label">Comments</p>
                  <p> <br> <br> </p>
                </div>
              </div>
            </div>
            <div class= "col-xs-8">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Supportive and Protective Devices <button type="button" class="btn btn-xs btn-default pull-right">Add New</button></h3>
                </div>
                <div class="panel-body">
                  <!-- Able to add more of these: -->
                  <div class= "col-xs-6">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">Wheel Chair<button type="button" class="btn btn-xs btn-default pull-right">Edit</button></h3>
                      </div>
                      <div class="panel-body">
                        <p class="box-label">HRC Approval Date</p>
                        <p>date<br> </p>
                        <p class="box-label">Approval Expiration Date</p>
                        <p>date<br> </p>
                        <p class="box-label">HRC Submission Date</p>
                        <p>date<br> </p>
                        <p class="box-label">RN Signature</p>
                        <p>date<br> </p>
                        <p class="box-label">MD Signature</p>
                        <p> <br> <br> </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class= "row">
          <div class="col-xs-12 col-md-10 col-md-offset-1" style="padding:0px">
            <div class= "col-xs-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Self Medication Protocol<button type="button" class="btn btn-xs btn-default pull-right">Edit</button></h3>
                </div>
                <div class="panel-body">
                  <p class="box-label">HRC Approval</p>
                  <p>date<br> </p>
                  <p class="box-label">Training Date</p>
                  <p>date<br> </p>
                  <p class="box-label">Assessment Score</p>
                  <p>int<br> </p>
                  <p class="box-label">Plan Type</p>
                  <p>string<br> </p>
                  <p class="box-label">MD Signature</p>
                  <p>date<br> </p>
                </div>
              </div>
            </div>
            <div class= "col-xs-8">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Tracking<button type="button" class="btn btn-xs btn-default pull-right">Add New</button></h3>
                </div>
                <div class="panel-body">
                  <!-- Able to add more of these: -->
                  <div class= "col-xs-6">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">DSHP<button type="button" class="btn btn-xs btn-default pull-right">Edit</button></h3>
                      </div>
                      <div class="panel-body">
                        <p class="box-label">Description</p>
                        <p> <br><br><br><br><br><br> </p>
                        <p class="box-label">Most Recent</p>
                        <p>date<br> </p>
                        <p class="box-label">Timeframe Due</p>
                        <p>timeframe<br> </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}
