<!DOCTYPE html> 
<html lang="en">
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<!-- Latest compiled and minified CSS -->
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    	<!-- Optional theme -->
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    	<!-- FontAwesome is Awesome! -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		{% load staticfiles %}
		<link rel ="stylesheet" type = "text/css" href="{% static "css/header.css" %}">  
		<title> {% block title %}
			{% endblock %}
		</title>
	</head> 
	<body>
		<!-- Header that is present on every page -->
		<div id = "firstrow">
		<div class="form-inline">
			<div class="row">
	  			<div class="col-md-4">
	  				<button type="button" class="btn btn-default icon-save">
	  					<i class="fa fa-calendar"></i>
	  					calendar</button>
					<button type="button" class="btn btn-default ">
						<i class="fa fa-cog"></i>  admin</button>
					<button type="button" class="btn btn-default ">
						<i class="fa fa-print"></i>  EFS</button>
					<button type="button" class="btn btn-default btn-space">
						<i class="fa fa-print"></i>  ID</button>
				</div>
	  			<div class="col-md-4 patient_name"> 
	  				<p> {% block patient_name %}
	  					{% endblock %}
	  				 </p>
	  			</div>
	  			<div class="col-md-4"> 
	  				<button type="button" class="btn btn-default " onclick="location.href='/new'">
	  					<i class="fa fa-plus-circle"></i>  new</button>
					<button type="button" class="btn btn-default ">
						<i class="fa fa-archive"></i>  archive</button>
						<div class="form-group">
					    <!--<label for="exampleInputSearch">Search</label>-->
					    <form action="/search/" method="post">
					    {% csrf_token %}
					    <input type="search" class="form-control" name="query" id="exampleInputSearch" placeholder="Name or program">
					    <button type="submit" class="btn btn-default">
			  				<i class="fa fa-search"></i>
			  			</button>
					    </form>
						</div>
			  		
	  			</div>
			</div>
		</div>

		</div>
		<div id = "secondrow">
			<div class="col-md-3 text-center">
				<p> <strong> Program </strong> 
					{% block program %}
					{% endblock %}
				</p>
			</div>
			<div class="col-md-3 text-center"> 
				<p> <strong> Birthdate </strong> 
					{% block birthday %}
						{{basic_info.birthday}}
					{% endblock %} </p>
			</div>
			<div class="col-md-3 text-center"> 
				<p> <strong> Age </strong> {% block age %}  
					{{basic_info.}}
				{% endblock %} </p>
			</div>
			<div class="col-md-3 text-center"> 
				<p> <strong> SSN </strong> {% block SSN %} 	{{basic_info.social_security}}
					{% endblock %} </p>
			</div>
		</div>
		{% block profile_links %}
		
		{% endblock %}
	{% block content %}{% endblock %}
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	</body>
</html> 
