{% extends "base.html" %}
{% block profile_links %}
  <div id = "thirdrow">
      <div class="col-md-3 text-center darkgrayed">
        <p> <a href="/profile/{{profile_id}}">Demographic</a> </p>
      </div>
      <div class="col-md-2 text-center darkgrayed">
        <p> <a href="/support/{{profile_id}}">Support</a> </p>
      </div>
      <div class="col-md-3 text-center darkgrayed">
        <p> Appointments </p>
      </div>
      <div class="col-md-2 text-center darkgrayed">
        <p> <a href="/protocol/{{profile_id}}">Protocols</a> </p>
      </div>
      <div class="col-md-2 text-center darkgrayed">
        <p> <a href="/behavior/{{profile_id}}">Behavior</a> </p>
      </div>
    </div>
{% endblock %}
    {% block edit_buttons %}

    <div id = "fourthrow">
      <div data-spy="affix">
        <div class="row">
          <div class="col-md-4">
            <button type="button" onclick="location.href='/edit/behavior/{{profile_id}}'" class="btn btn-success icon-save">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              Edit</button>
          </div>
        </div>
      </div>
    </div>
        {% endblock %}

{% block title %}
    Behavior
{% endblock %}
{% block patient_name %}
    {{basic_info.name_first}} 
    {{basic_info.name_last}}
{% endblock %}
{% block program %}
  {{basic_info.training_program_or_school_address}}
{% endblock %}
{% block birthday %}
  {{basic_info.birthday}}
{% endblock %}
{% block age %}  
  {{basic_info.}}
{% endblock %}
{% block SSN %} 
  {{basic_info.social_security}}
{% endblock %}

  {% block content %}
      <div class="container theme-showcase" role="main">
        <div class= "row">
          <div class="col-xs-12 col-md-10 col-md-offset-1" style="padding:0px">
            <div class= "col-xs-4" style="padding:0px">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Medical Treatment Plan<button type="button" onclick="location.href='/edit/behavior/{{profile_id}}'" class="btn btn-xs btn-default pull-right">Edit</button></h3>
                </div>
                <div class="panel-body">
                  <p class="box-label">Guardian Signature</p>
                  <p>{{medical_treatment_plan.guardian_signature_date}}<br> </p>
                  <p class="box-label">Training Date</p>
                  <p>UNRESOLVED<br> </p>
                  <p class="box-label">Medication(s)</p>
                  <p>{{medical_treatment_plan.medications}}UNRESOLVED<br> </p>
                  <p class="box-label">Diagnoses</p>
                  <p>{{medical_treatment_plan.diagnoses}}UNRESOLVED<br> </p>
                  <p class="box-label">Symptoms</p>
                  <p>{{medical_treatment_plan.symptoms}}UNRESOLVED<br> </p>
                </div>
              </div>
            </div>
            <div class= "col-xs-8">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Supportive and Protective Devices<button type="button" onclick="location.href='/edit/behavior/{{profile_id}}'" class="btn btn-xs btn-default pull-right">Edit</button></h3>
                </div>
                <div class="panel-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Assessment</th>
                        <th>Behavior</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{behavior.assessment_date}}</td>
                        <td>{{behavior.behavior}}<br></td>
                      </tr>
                    </tbody>
                  </table>
                  <p class= "box-label"> Summary </p>
                  <p>{{behavior.summary}}<br> </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class= "row">
          <div class="col-xs-12 col-md-10 col-md-offset-1" style="padding:0px">
            <div class= "col-xs-4">
              <div class= "row">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Behavior Support Plan<button type="button" onclick="location.href='/edit/behavior/{{profile_id}}'" class="btn btn-xs btn-default pull-right">Edit</button></h3>
                  </div>
                  <div class="panel-body">
                    <p class="box-label">Guardian Signature</p>
                    <p>{{behavior_support_plans.guardian_signature_date}}<br> </p>
                    <p class="box-label">Residential Training</p>
                    <p>{{behavior_support_plans.residential_appointment_id}}UNRESOLVED<br> </p>
                    <p class="box-label">Day Training</p>
                    <p>{{behavior_support_plans.day_appointment_id}}UNRESOLVED<br> </p>
                    <p class="box-label">Tier</p>
                    <p>{{behavior_support_plans.tier}}<br> </p>
                  </div>
                </div>
              </div>
              <div class= "row">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Rogers Monitor<button type="button" onclick="location.href='/edit/behavior/{{profile_id}}'" class="btn btn-xs btn-default pull-right">Edit</button></h3>
                  </div>
                  <div class="panel-body">
                    <p class="box-label">Next Court Date</p>
                    <p>{{rogers_monitor.next_court_date}}<br> </p>
                    <p class="box-label">Most Recent Court Date</p>
                    <p>{{rogers_monitor.last_court_date}}<br> </p>
                    <p class="box-label">Guardian Signature</p>
                    <p>{{rogers_monitor.guardian_signature_date}}<br> </p>
                    <p class="box-label">Training Date</p>
                    <p>{{rogers_monitor.appointment_id}}UNRESOLVED<br></p>
                    <p class="box-label">Medication(s)</p>
                    <p>{{rogers_monitor.medications}}<br> </p>
                  </div>
                </div>
              </div>
            </div>
            <div class= "col-xs-8">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Restrictive Practices<button type="button" onclick="location.href='/edit/behavior/{{profile_id}}'" class="btn btn-xs btn-default pull-right">Edit</button></h3>
                </div>
                <div class="panel-body">
                  <!--- Able to add more of these: --> 
                  {% for item in restrictive %}
                  <div class= "col-xs-6">
                    <div class="panel panel-info">
                      <div class="panel-heading">
                        <h3 class="panel-title">Door Lock</h3>
                      </div>
                      <div class="panel-body">
                        <p class="box-label">HRC Approval Date</p>
                        <p>{{item.hrc_approval_date}}<br> </p>
                        <p class="box-label">HRC Submission Date</p>
                        <p>{{item.hrc_submission_date}}<br> </p>
                        <p class="box-label">Description</p>
                        <p>{{item.description}}<br><br><br><br><br> </p>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  {% endblock %}