<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Sign In</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <link href="header.css" rel="stylesheet">
  <meta name="description" content="">
</head>
<body class = "logout">

  <div class="container">
   <h2 class="form-signin-heading text-center">You've successfully logged out.</h2> 
   <button class="btn btn-lg btn-primary btn-block" onclick="location.href='/signin'" type="submit">Login</button>

  </div>



</body>
</html> 