{% extends "base.html" %}
{% block profile_links %}
  <div id = "thirdrow">
      <div class="col-md-3 text-center darkgrayed">
        <p> <a href="/profile/{{profile_id}}">Demographic</a> </p>
      </div>
      <div class="col-md-2 text-center darkgrayed">
        <p> <a href="/support/{{profile_id}}">Support</a> </p>
      </div>
      <div class="col-md-3 text-center darkgrayed">
        <p> Appointments </p>
      </div>
      <div class="col-md-2 text-center darkgrayed">
        <p> <a href="/protocol/{{profile_id}}">Protocols</a> </p>
      </div>
      <div class="col-md-2 text-center darkgrayed">
        <p> <a href="/behavior/{{profile_id}}">Behavior</a> </p>
      </div>
    </div>
    {% endblock %}
     {% block edit_buttons %}

    <div id = "fourthrow">
      <div data-spy="affix">
        <div class="row">
          <div class="col-md-4">
            <button type="button" onclick="location.href='/edit/profile/{{profile_id}}'" class="btn btn-success icon-save">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              Edit</button>
          </div>
        </div>
      </div>
    </div>
      {% endblock %}
{% endblock %}
{% block efs %}
<button type="button" class="btn btn-default " onclick = "location.href='/efs/{{profile_id}}/'">
           <i class="fa fa-print"></i>  EFS</button>
{% endblock %}
{% block title %}
    Profile
{% endblock %}
{% block patient_name %}
    {{first_name}} 
    {{last_name}}
{% endblock %}
{% block program %}
  {{basic_info.training_program_or_school_address}}
{% endblock %}
{% block birthday %}
  {{basic_info.birthday}}
{% endblock %}
{% block age %}  
  {{basic_info.}}
{% endblock %}
{% block SSN %} 
  {{basic_info.social_security}}
{% endblock %}
  {% block content %}
      <div class="container theme-showcase" role="main">
        <div class= "row">
          <div class="col-xs-12 col-md-10 col-md-offset-1">
            <img class= "col-xs-4" src="https://s-media-cache-ak0.pinimg.com/236x/43/6d/59/436d5995b69f9b2127824d5a31b558e0.jpg" alt="Cute corgi puppy" style="margin-bottom:5px">
            <div class= "col-xs-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Diagnosis (Updated date)</h3>
                  <!--- Figure out better way to do the updated date -->
                </div>
                <div class="panel-body">
                  <p>{{medical_info.diagnoses}}</p>
                </div>
              </div>
            </div>
            <div class= "col-xs-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Allergies (Updated date)</h3>
                  <!--- Figure out better way to do the updated date -->
                </div>
                <div class="panel-body">
                  <p>{{medical_info.allergies}}</p>
                  <!---Possibly add NKA and NKDA as checkboxes -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-10 col-md-offset-1">
            <div class="col-xs-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Physical Characteristics</h3>
                </div>
                <div class="panel-body">
                  <table style="width:100%">
                    <tr>
                      <td>Weight</td>
                      <th>{{basic_info.weight}}</th>
                    </tr>
                    <tr>
                      <td>last updated</td>
                      <th>(Updated Date)</th>
                    </tr>
                    <tr>
                      <td>Build</td>
                      <th>{{basic_info.build}}</th>
                    </tr>
                    <tr>
                      <td>Height</td>
                      <th>{{basic_info.height}}</th>
                    </tr>
                    <tr>
                      <td>Sex</td>
                      <th>{{basic_info.sex}}</th>
                    </tr>
                    <tr>
                      <td>Birthday</td>
                      <th>{{basic_info.birthday}}</th>
                    </tr>
                    <tr>
                      <td>Race</td>
                      <th>{{basic_info.race}}</th>
                    </tr>
                    <tr>
                      <td>Eye Color</td>
                      <th>{{basic_info.eyes}}</th>
                    </tr>
                    <tr>
                      <td>Hair Color</td>
                      <th>{{basic_info.hair}}</th>
                    </tr>
                    <tr>
                      <td>Blood Type</td>
                      <th>{{basic_info.blood_type}}</th>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Identifying Information</h3>
                </div>
                <div class="panel-body">
                  <table style="width:100%">
                    <tr>
                      <td>Program</td>
                      <th>{{basic_info.training_program_or_school_address}}</th>
                    </tr>
                    <tr>
                      <td>SSN</td>
                      <th>{{basic_info.social_security}}</th>
                    </tr>
                    <tr>
                      <td>Religion</td>
                      <th>{{basic_info.religion}}</th>
                    </tr>
                    <tr>
                      <td>ID #</td>
                      <th>{{basic_info.state_id}}</th>
                    </tr>
                    <tr>
                      <td>Nickname</td>
                      <th>{{basic_info.name_preferred}}</th>
                    </tr>
                    <tr>
                      <td>Citizenship</td>
                      <th>{{basic_info.citizenship}}</th>
                    </tr>
                    <tr>
                      <td>Marital Status</td>
                      <th>{{basic_info.marital_status}}</th>
                    </tr>
                    <tr>
                      <td>Language</td>
                      <th>{{basic_info.primary_language}}</th>
                    </tr>
                  </table>
                  <p class="box-label">Behavior Characteristics</p>
                  <p>{{identifying.behavior}}</p>
                  <p class="box-label">Distinguishing Marks</p>
                  <p>{{basic_info.distinguishing_marks}}</p>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Historical</h3>
                </div>
                <div class="panel-body">
                  <p class="box-label">Accompanied by</p>
                  <p>{{basic_info.accompanied_by}}<br></p>
                  <p class="box-label">Areas of meaningful tie</p>
                  <p>{{basic_info.area_meaningful_tie}}<br></p>
                  <p class="box-label">Referral Source</p>
                  <p>{{basic_info.referral_source}}<br></p>
                  <p class="box-label">Birthplace</p>
                  <p>{{basic_info.birthplace}}<br></p>
                </div>
              </div>  
            </div>
            <div class="col-xs-8">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Places</h3>
                </div>
                <div class="panel-body">
                  <div class= "col-xs-6">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">Address</h3>
                      </div>
                      <div class="panel-body">
                        <p class="box-label">Current</p>
                        <p>{{basic_info.address_current}}<br></p>
                        <p class="box-label">Day Program</p>
                        <p>{{basic_info.training_program_or_school_address}}<br></p>
                        <p class="box-label">Work</p>
                        <p>{{basic_info.work_address}}<br></p>
                        <p class="box-label">Prior Address</p>
                        <p>{{basic_info.address_former}}<br></p>
                      </div>
                    </div>
                  </div>
                  <div class= "col-xs-6">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">Phone Number</h3>
                      </div>
                      <div class="panel-body">
                        <p class="box-label">Current</p>
                        <p>{{basic_info.phone}}<br></p>
                        <p class="box-label">Day Program</p>
                        <p>{{basic_info.training_program_or_school_phone}}<br></p>
                        <p class="box-label">Work</p>
                        <p>{{basic_info.work_phone}}<br></p>
                        <p class="box-label">Prior Phone Number</p>
                        <p>{{basic_info.phone_on_entry}}<br></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Self Sufficiency</h3>
                </div>
                <div class="panel-body">
                  <div class= "col-xs-6">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">Travel</h3>
                      </div>
                      <div class="panel-body">
                        <p class="box-label">Places Frequented</p>
                        <p>{{identifying.places_frequented}}<br></p>
                        <p class="box-label">Travel Method</p>
                        <p>{{identifying.travel_method}}<br></p>
                        <p class="box-label">Surrounding Recognition</p>
                        <p>{{identifying.surrounding_awareness}}<br></p>
                        <p class="box-label">Carries ID</p>
                        <p>{{identifying.carries_ID}}<br></p>
                      </div>
                    </div>
                  </div>
                  <div class= "col-xs-6">  
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">Lost</h3>
                      </div>
                      <div class="panel-body">
                        <p class="box-label">Ability to protect self</p>
                        <p>{{identifying.self_protection}}<br></p>
                        <p class="box-label">Response to search efforts</p>
                        <p>{{identifying.response_to_search}}<br></p>
                        <p class="box-label">Pattern of movement if previously lost</p>
                        <p>{{identifying.movement_pattern}}<br></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Parent History</h3>
                </div>
                <div class="panel-body">
                  <div class= "col-xs-6">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">Mother</h3>
                      </div>
                      <div class="panel-body">
                        <p class="box-label">Name</p>
                        <p>{{legal_guardian.mother_maiden_name}}<br></p>
                        <p class="box-label">Birthdate</p>
                        <p>{{legal_guardian.mother_birthday}}<br></p>
                        <p class="box-label">Birthplace</p>
                        <p>{{legal_guardian.mother_birthplace}}<br></p>
                        <p class="box-label">Alive</p>
                        <p>{{legal_guardian.mother_alive}}<br></p>
                      </div>
                    </div>
                  </div>
                  <div class= "col-xs-6">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">Father</h3>
                      </div>
                      <div class="panel-body">
                        <p class="box-label">Name</p>
                        <p>{{legal_guardian.father_name}}<br></p>
                        <p class="box-label">Birthdate</p>
                        <p>{{legal_guardian.father_birthday}}<br></p>
                        <p class="box-label">Birthplace</p>
                        <p>{{legal_guardian.father_birthplace}}<br></p>
                        <p class="box-label">Alive</p>
                        <p>{{legal_guardian.father_alive}}<br></p>
                      </div>
                    </div>
                  </div>
                  <p><strong>Parental Marital Status:</strong> {{legal_guardian.parents_marital_status}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-10 col-md-offset-1">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Self Preservation</h3>
              </div>
              <div class="panel-body">
                <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th> Date </th>
                      <th> Drill Type </th>
                      <th> Result </th>
                      <th> Assessment </th>
                      <th> Cause of Failure </th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in self_preservation %}
                    <tr>
                      <td>{{item.date_occured}}</td>
                      <td>UNRESOLVED</td>
                      <td>UNRESOLVED</td>
                      <td>{{item.assessment}}</td>
                      <td>{{item.cause_of_failure}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

