{% extends "base.html" %}
  {% block content %}
    <div class="container theme-showcase" role="main">
        <div class= "row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <!--PROTOCOLS-->
                        <h3 class="panel-title">Protocols<button type="button" class="btn btn-xs btn-default pull-right">Add New</button></h3>
                        {% for item in protocols %}
                            <h3>Name: {{item.name}}</h3>
                            <p>Description: {{item.description}}</p>
                            <p>Guardian Signature: {{item.guardian_signature_date}}</p>
                            <p>Physician Signature: {{item.physician_signature_date}}</p>
                        {% endfor %}
                    </div>
                    <div class="panel-body">
                        <div class="col-xs-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h3 class="panel-title">Transport<button type="button" class="btn btn-xs btn-default pull-right">Edit</button></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="isp">
            <h2>ISP</h2>
            <p>Last ISP: {{isp.last_isp_date}}</p>
            <p>Comments: {{isp.comments}}</p>
        </div>

        <div id="supportive">
        <h2>Supportive and Protective Devices</h2>
        {% for item in supportive %}
            <h3>Type: {{item.device_type}}</h3>
            <p>HRC Approval Date: {{item.hrc_approval_date}}</p>
            <p>HRC Submission Date: {{item.hrc_submission_date}}</p>
            <p>Physician Signature: {{item.physician_signature}}</p>
            <p>Nurse Signature: {{item.nurse_signature}}</p>
        {% endfor %}
        </div>

        <div id="tracking">
            <h2>Tracking</h2>
            {% for item in tracking %}
                <h3>{{item.tracking_name}}</h3>
                <p>Description: {{item.description}}</p>
                <p>Most Recent: {{item.most_recent}}</p>
                <p>Timeframe: Every {{item.next_due}} month(s)</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}