{% extends "base.html" %}
{% block profile_links %}
  <div id = "thirdrow">
      <div class="col-md-3 text-center darkgrayed">
        <p> <a href="/profile/{{profile_id}}">Demographic</a> </p>
      </div>
      <div class="col-md-2 text-center darkgrayed">
        <p> <a href="/support/{{profile_id}}">Support</a> </p>
      </div>
      <div class="col-md-3 text-center darkgrayed">
        <p> Appointments </p>
      </div>
      <div class="col-md-2 text-center darkgrayed">
        <p> <a href="/protocol/{{profile_id}}">Protocols</a> </p>
      </div>
      <div class="col-md-2 text-center darkgrayed">
        <p> <a href="/behavior/{{profile_id}}">Behavior</a> </p>
      </div>
    </div>
{% endblock %}
{% block title %}
    Protocol
{% endblock %}
{% block patient_name %}
    {{basic_info.name_first}} 
    {{basic_info.name_last}}
{% endblock %}
{% block program %}
  {{basic_info.training_program_or_school_address}}
{% endblock %}
{% block birthday %}
  {{basic_info.birthday}}
{% endblock %}
{% block age %}  
  {{basic_info.}}
{% endblock %}
{% block SSN %} 
  {{basic_info.social_security}}
{% endblock %}
    {% block content %}
    <form action="/edit/protocol/{{profile_id}}/" method="post">
    {% csrf_token %}
    <div class="container theme-showcase" role="main">
        <div class= "row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Protocols</h3>
                    </div>
                    <div class="panel-body">
                        {% for item in protocols %}
                        <div class="col-xs-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Name:</h3><h3><input type="text" value="{{item.name}}" name="protocols.existing.{{item.protocol_id}}.name"></h3>
                                </div>
                                <div class="panel-body">
                                    <p class="box-label">Description: </p><p><input type="text" value="{{item.description}}" name="protocols.existing.{{item.protocol_id}}.description"><br></p>
                                    <p class="box-label">Guardian Signature: </p><p><input type="text" value="{{item.guardian_signature_date}}" name="protocols.existing.{{item.protocol_id}}.guardian_signature_date"><br></p>
                                    <p class="box-label">Physician Signature: </p><p><input type="text" value="{{item.physician_signature_date}}" name="protocols.existing.{{item.protocol_id}}.physician_signature_date"><br></p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="col-xs-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Name:</h3><h3><input type="text" name="protocols.new.0.name"></h3>
                                </div>
                                <div class="panel-body">
                                    <p class="box-label">Description: </p><p><input type="text" name="protocols.new.0.description"><br></p>
                                    <p class="box-label">Guardian Signature: </p><p><input type="text" name="protocols.new.0.guardian_signature_date"><br></p>
                                    <p class="box-label">Physician Signature: </p><p><input type="text" name="protocols.new.0.physician_signature_date"><br></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Name:</h3><h3><input type="text" name="protocols.new.0.name"></h3>
                                </div>
                                <div class="panel-body">
                                    <p class="box-label">Description: </p><p><input type="text" name="protocols.new.0.description"><br></p>
                                    <p class="box-label">Guardian Signature: </p><p><input type="text" name="protocols.new.0.guardian_signature_date"><br></p>
                                    <p class="box-label">Physician Signature: </p><p><input type="text" name="protocols.new.0.physician_signature_date"><br></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class= "row">
            <div class="col-xs-12 col-md-10 col-md-offset-1" style="padding:0px">
                <!--ISP-->
                <div class= "col-xs-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">ISP</h3>
                        </div>
                        <div class="panel-body">
                            <p class="box-label">Most Recent ISP: </p><p><input type="text" name="isp.last_isp_date" value="{{isp.last_isp_date}}"><br></p>
                            <p class="box-label">Comments: </p><p><input type="text" name="isp.comments" value="{{isp.comments}}"><br></p>
                        </div>
                    </div>
                </div>     
                <div class= "col-xs-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Supportive and Protective Devices</h3>
                        </div>
                        <div class="panel-body">
                            {% for item in supportive %}
                            <div class= "col-xs-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Type:</h3><h3><input type="text" value="{{item.device_type}}" name="supportive.existing.{{item.supportive_protective_devices_id}}.device_type"></h3>
                                    </div>
                                    <div class="panel-body">
                                        <p class="box-label">HRC Approval Date: </p><p><input type="text" value="{{item.hrc_approval_date}}" name="supportive.existing.{{item.supportive_protective_devices_id}}.hrc_approval_date"><br></p>
                                        <p class="box-label">HRC Submission Date: </p><p><input type="text" value="{{item.hrc_submission_date}}" name="supportive.existing.{{item.supportive_protective_devices_id}}.hrc_submission_date"><br></p>
                                        <p class="box-label">Physician Signature: </p><p><input type="text" value="{{item.physician_signature}}" name="supportive.existing.{{item.supportive_protective_devices_id}}.physician_signature"><br></p>
                                        <p class="box-label">Nurse Signature: </p><p><input type="text" value="{{item.nurse_signature}}" name="supportive.existing.{{item.supportive_protective_devices_id}}.nurse_signature"><br></p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <div class= "col-xs-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Type: </h3><h3><input type="text" name="supportive.new.0.device_type"></h3>
                                    </div>
                                    <div class="panel-body">
                                        <p class="box-label">HRC Approval Date: </p><p><input type="text" name="supportive.new.0.hrc_approval_date"><br></p>
                                        <p class="box-label">HRC Submission Date: </p><p><input type="text" name="supportive.new.0.hrc_submission_date"><br></p>
                                        <p class="box-label">Physician Signature: </p><p><input type="text" name="supportive.new.0.physician_signature"><br></p>
                                        <p class="box-label">Nurse Signature: </p><p><input type="text" name="supportive.new.0.nurse_signature"><br></p>
                                    </div>
                                </div>
                            </div>
                            <div class= "col-xs-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Type: </h3><h3><input type="text" name="supportive.new.0.device_type"></h3>
                                    </div>
                                    <div class="panel-body">
                                        <p class="box-label">HRC Approval Date: </p><p><input type="text" name="supportive.new.0.hrc_approval_date"><br></p>
                                        <p class="box-label">HRC Submission Date: </p><p><input type="text" name="supportive.new.0.hrc_submission_date"><br></p>
                                        <p class="box-label">Physician Signature: </p><p><input type="text" name="supportive.new.0.physician_signature"><br></p>
                                        <p class="box-label">Nurse Signature: </p><p><input type="text" name="supportive.new.0.nurse_signature"><br></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class= "col-xs-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Tracking</h3>
                        </div>
                        <div class="panel-body">
                            {% for item in tracking %}
                            <div class= "col-xs-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Name:</h3><h3><input type="text" value="{{item.tracking_name}}" name="tracking.existing.{{item.tracking_id}}.tracking_name"></h3>
                                    </div>
                                    <div class="panel-body">
                                        <p class="box-label">Description: </p><p><input type="text" value="{{item.description}}" name="tracking.existing.{{item.tracking_id}}.description"><br></p>
                                        <p class="box-label">Most Recent: </p><p><input type="text" value="{{item.most_recent}}" name="tracking.existing.{{item.tracking_id}}.most_recent"><br></p>
                                        <p class="box-label">Timeframe: Every <input type="text" value="{{item.next_due}}" name="tracking.existing.{{item.tracking_id}}.next_due"> month(s)<br></p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <div class= "col-xs-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Name: </h3><h3><input type="text" name="tracking.new.0.tracking_name"></h3>
                                    </div>
                                    <div class="panel-body">
                                        <p class="box-label">Description: </p><p><input type="text" name="tracking.new.0.description"><br></p>
                                        <p class="box-label">Most Recent: </p><p><input type="text" name="tracking.new.0.most_recent"><br></p>
                                        <p class="box-label">Timeframe: Every <input type="text" name="tracking.new.0.next_due"> month(s)<br></p>
                                    </div>
                                </div>
                            </div>
                            <div class= "col-xs-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Name: </h3><h3><input type="text" name="tracking.new.0.tracking_name"></h3>
                                    </div>
                                    <div class="panel-body">
                                        <p class="box-label">Description: </p><p><input type="text" name="tracking.new.0.description"><br></p>
                                        <p class="box-label">Most Recent: </p><p><input type="text" name="tracking.new.0.most_recent"><br></p>
                                        <p class="box-label">Timeframe: Every <input type="text" name="tracking.new.0.next_due"> month(s)<br></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
    <input type="submit"></input>
{% endblock %}