{% extends "base.html" %}
    {% block content %}
    <form action="/edit/support/1/" method="post">
    {% csrf_token %}
    <div class="container theme-showcase" role="main">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Family/Guardian/Conservator</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12">
                <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>Primary</th>
                      <th>Name</th>
                      <th>Relation</th>
                      <th>Address</th>
                      <th>Phone</th>
                      <th>Date Added</th>
                      <th>Date Removed</th>
                      <th>Removal Reason</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><input type="radio" name="primSup" value="" style="margin-left: 15px;"></td>
                      <td>
                        <div class="form-group">
                          <input type="text" class="form-control" value= "{{legal_guardian.legal_guardian}}">
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          <input type="text" class="form-control" value= "UNRESOLVED">
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          <input type="text" class="form-control" value= "{{legal_guardiant.family_address}}">
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          <input type="text" class="form-control" value="{{legal_guardiant.family_phone}}">
                        </div>
                      </td>
                      <td>
                        <select name="month">
                          <option value="01">Jan</option>
                          <option value="02">Feb</option>
                          <option value="03">Mar</option>
                          <option value="04">Apr</option>
                          <option value="05">May</option>
                          <option value="06">Jun</option>
                          <option value="07">Jul</option>
                          <option value="08">Aug</option>
                          <option value="09">Sep</option>
                          <option value="10">Oct</option>
                          <option value="11">Nov</option>
                          <option value="12">Dec</option>
                        </select>
                        <input type="text" size="1" maxlength="2" placeholder=" day">
                        <input type="text" size="1" maxlength="4" placeholder=" year">
                      </td>
                      <td>
                        <select name="month">
                          <option value="01">Jan</option>
                          <option value="02">Feb</option>
                          <option value="03">Mar</option>
                          <option value="04">Apr</option>
                          <option value="05">May</option>
                          <option value="06">Jun</option>
                          <option value="07">Jul</option>
                          <option value="08">Aug</option>
                          <option value="09">Sep</option>
                          <option value="10">Oct</option>
                          <option value="11">Nov</option>
                          <option value="12">Dec</option>
                        </select>
                        <input type="text" size="1" maxlength="2" placeholder=" day">
                        <input type="text" size="1" maxlength="4" placeholder=" year">

                      </td>
                      <td>
                        <div class="form-group">
                          <textarea class="form-control" rows="2"></textarea>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td><input type="radio" name="primSup" value="" style="margin-left: 15px;"></td>
                      <td>
                        <div class="form-group">
                          <input type="text" class="form-control">
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          <input type="text" class="form-control">
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          <input type="text" class="form-control">
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          <input type="text" class="form-control">
                        </div>
                      </td>
                      <td>
                        <select name="month">
                          <option value="01">Jan</option>
                          <option value="02">Feb</option>
                          <option value="03">Mar</option>
                          <option value="04">Apr</option>
                          <option value="05">May</option>
                          <option value="06">Jun</option>
                          <option value="07">Jul</option>
                          <option value="08">Aug</option>
                          <option value="09">Sep</option>
                          <option value="10">Oct</option>
                          <option value="11">Nov</option>
                          <option value="12">Dec</option>
                        </select>
                        <input type="text" size="1" maxlength="2" placeholder=" day">
                        <input type="text" size="1" maxlength="4" placeholder=" year">
                      </td>
                      <td>
                        <select name="month">
                          <option value="01">Jan</option>
                          <option value="02">Feb</option>
                          <option value="03">Mar</option>
                          <option value="04">Apr</option>
                          <option value="05">May</option>
                          <option value="06">Jun</option>
                          <option value="07">Jul</option>
                          <option value="08">Aug</option>
                          <option value="09">Sep</option>
                          <option value="10">Oct</option>
                          <option value="11">Nov</option>
                          <option value="12">Dec</option>
                        </select>
                        <input type="text" size="1" maxlength="2" placeholder=" day">
                        <input type="text" size="1" maxlength="4" placeholder=" year">
                      </td>
                      <td>
                        <div class="form-group">
                          <textarea class="form-control" rows="2"></textarea>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Insurance, Financial Support, Entitlements</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12">
                <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>Source</th>
                      <th>Type</th>
                      <th>Identification Number</th>
                      <th>Benefits</th>
                      <th>Expiration Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="form-group">
                          <input type="text" class="form-control" value= "{{item.source}}">
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          <input type="text" class="form-control" value="{{item.type_of}}">
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          <input type="text" class="form-control" value="{{item.id_number}}">
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          <input type="text" class="form-control" value="{{item.benifts}}">
                        </div>
                      </td>
                      <!-- Needs to change color if expiration date has passed -->
                      <td>
                          <select name="month">
                            <option value="01">Jan</option>
                            <option value="02">Feb</option>
                            <option value="03">Mar</option>
                            <option value="04">Apr</option>
                            <option value="05">May</option>
                            <option value="06">Jun</option>
                            <option value="07">Jul</option>
                            <option value="08">Aug</option>
                            <option value="09">Sep</option>
                            <option value="10">Oct</option>
                            <option value="11">Nov</option>
                            <option value="12">Dec</option>
                          </select>
                          <input type="text" size="1" maxlength="2" placeholder=" day">
                          <input type="text" size="1" maxlength="4" placeholder=" year">
                        </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="form-group">
                          <input type="text" class="form-control">
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          <input type="text" class="form-control">
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          <input type="text" class="form-control">
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          <input type="text" class="form-control">
                        </div>
                      </td>
                      <!-- Needs to change color if expiration date has passed -->
                      <td>
                        <select name="month">
                          <option value="01">Jan</option>
                          <option value="02">Feb</option>
                          <option value="03">Mar</option>
                          <option value="04">Apr</option>
                          <option value="05">May</option>
                          <option value="06">Jun</option>
                          <option value="07">Jul</option>
                          <option value="08">Aug</option>
                          <option value="09">Sep</option>
                          <option value="10">Oct</option>
                          <option value="11">Nov</option>
                          <option value="12">Dec</option>
                        </select>
                        <input type="text" size="1" maxlength="2" placeholder=" day">
                        <input type="text" size="1" maxlength="4" placeholder=" year">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Legal Status</h3>
          </div>
          <div class="panel-body">
            <p class = "box-label"> Legal Competency </p>
            <div class="form-group">
              <textarea class="form-control" rows="2"></textarea>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>Status</th>
                      <th>Type</th>
                      <th>Date of Adjudication</th>
                      <th>Requested By</th>
                      <th>Date of Request</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="form-group">
                          <input type="text" class="form-control" value= "{{item.status}}">
                        </div>
                      </td>
                      <td>
                        <div class="form-group">
                          <input type="text" class="form-control" value= "{{item.type}}">
                        </div>
                      </td>
                      <td>
                        <select name="month">
                          <option value="01">Jan</option>
                          <option value="02">Feb</option>
                          <option value="03">Mar</option>
                          <option value="04">Apr</option>
                          <option value="05">May</option>
                          <option value="06">Jun</option>
                          <option value="07">Jul</option>
                          <option value="08">Aug</option>
                          <option value="09">Sep</option>
                          <option value="10">Oct</option>
                          <option value="11">Nov</option>
                          <option value="12">Dec</option>
                        </select>
                        <input type="text" size="1" maxlength="2" placeholder=" day">
                        <input type="text" size="1" maxlength="4" placeholder=" year">
                      </td>
                      <td>
                        <div class="form-group">
                          <input type="text" class="form-control" value= "{{item.requested_by}}">
                        </div>
                      </td>
                      <td>
                        <select name="month">
                          <option value="01">Jan</option>
                          <option value="02">Feb</option>
                          <option value="03">Mar</option>
                          <option value="04">Apr</option>
                          <option value="05">May</option>
                          <option value="06">Jun</option>
                          <option value="07">Jul</option>
                          <option value="08">Aug</option>
                          <option value="09">Sep</option>
                          <option value="10">Oct</option>
                          <option value="11">Nov</option>
                          <option value="12">Dec</option>
                        </select>
                        <input type="text" size="1" maxlength="2" placeholder=" day">
                        <input type="text" size="1" maxlength="4" placeholder=" year">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        
    
        </div>
    </div>
</div>
        <input type="submit"></input>
    </form>
{% endblock %}