{% extends "base.html" %}
{% block profile_links %}
  <div id = "thirdrow">
      <div class="col-md-3 text-center darkgrayed">
        <p> <a href="/profile/{{profile_id}}">Demographic</a> </p>
      </div>
      <div class="col-md-2 text-center darkgrayed">
        <p> <a href="/support/{{profile_id}}">Support</a> </p>
      </div>
      <div class="col-md-3 text-center darkgrayed">
        <p> Appointments </p>
      </div>
      <div class="col-md-2 text-center darkgrayed">
        <p> <a href="/protocol/{{profile_id}}">Protocols</a> </p>
      </div>
      <div class="col-md-2 text-center darkgrayed">
        <p> <a href="/behavior/{{profile_id}}">Behavior</a> </p>
      </div>
    </div>
{% endblock %}
{% block save_buttons %}
<div id = "fourthrow">
      <div data-spy="affix">
        <div class="row">
          <div class="col-md-4">
              <button type="button" class="btn btn-primary icon-save">
              <i class="fa fa-floppy-o" aria-hidden="true"></i> <input type="submit"></input>
              Save</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
{% block title %}
    "Profile"
{% endblock %}
{% block patient_name %}
    {{basic_info.name_first}} 
    {{basic_info.name_last}}
{% endblock %}
{% block program %}
  {{basic_info.training_program_or_school_address}}
{% endblock %}
{% block birthday %}
  {{basic_info.birthday}}
{% endblock %}
{% block age %}  
  {{basic_info.}}
{% endblock %}
{% block SSN %} 
  {{basic_info.social_security}}
{% endblock %}
    {% block content %}
    <form action="/edit/profile/{{profile_id}}/" method="post">
        {% csrf_token %}
      <div class="container theme-showcase" role="main">
        <div class= "row">
          <div class="col-xs-12 col-md-10 col-md-offset-1">
            <img class= "col-xs-4" src="https://s-media-cache-ak0.pinimg.com/236x/43/6d/59/436d5995b69f9b2127824d5a31b558e0.jpg" alt="Cute corgi puppy" style="margin-bottom:5px">
            <div class= "col-xs-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Diagnosis (Updated date)</h3>
                  <!-- Figure out better way to do the updated date -->
                </div>
                <div class="panel-body">
                  <div class="form-group">
                    <p>Diagnoses: <input type="text" name="medical_info.diagnoses" value="{{medical_info.diagnoses}}"></p>
                  </div>
                  <p><input type="checkbox" name="medical_info.alzheimers_dementia" {% if medical_info.alzheimers_dementia == True %}checked {% endif %}>Alzheimers</p>
                  <p><input type="checkbox" name="medical_info.vision_problem" {% if medical_info.vision_problem == True %}checked {% endif %}>Vision Problem</p>
                  <p><input type="checkbox" name="medical_info.down_syndrome" {% if medical_info.down_syndrome == True %}checked {% endif %}>Down Syndrome</p>
                </div>
              </div>
            </div>
            <div class= "col-xs-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Allergies (Updated date)</h3>
                  <!-- Figure out better way to do the updated date -->
                </div>
                <div class="panel-body">
                  <div class="form-group">
                    <p>Allergies: <input name="medical_info.allergies" type="text" name="medical_info.allergies" value="{{medical_info.allergies}}"></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-10 col-md-offset-1">
            <div class="col-xs-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Physical Characteristics</h3>
                </div>
                <div class="panel-body">
                  <div class="form-group">
                    <label>Weight:</label>
                    <div class= "input-group">
                      <input name="basic_info.weight" type="text" class="form-control" value="{{basic_info.weight}}">
                      <span class="input-group-addon" id="basic-addon2">lbs</span>
                    </div>
                    <label>Build:</label>
                    <input name="basic_info.build" type="text" class="form-control" value="{{basic_info.build}}">
                    <label>Height:</label>
                    <div class= "input-group">
                      <input name="basic_info.height" type="text" class="form-control" value="{{basic_info.height}}">
                      <span class="input-group-addon" id="basic-addon2">ft</span>
                    </div>
                    <div class= "input-group">
                      <input name="UNRESOLVED" type="text" class="form-control" value="UNRESOLVED">
                      <span class="input-group-addon" id="basic-addon2">in</span>
                    </div>
                    <label>Sex:</label>
                    <input name="basic_info.sex" type="text" class="form-control" value="{{basic_info.sex}}">
                    <label>Age:</label>
                    <div class= "input-group">
                      <input name="UNRESOLVED" type="text" class="form-control" value="UNRESOLVED">
                      <span class="input-group-addon" id="basic-addon2">years</span>
                    </div>
                    <label>Race:</label>
                    <input name="basic_info.race" type="text" class="form-control" value="{{basic_info.race}}">
                    <label>Eye Color:</label>
                    <input name="basic_info.eyes" type="text" class="form-control" value="{{basic_info.eyes}}">
                    <label>Hair Color:</label>
                    <input name="basic_info.hair" type="text" class="form-control" value="{{basic_info.hair}}">
                    <label>Blood Type:</label>
                    <input name="basic_info.blood_type" type="text" class="form-control" value="{{basic_info.blood_type}}">
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Identifying Information</h3>
                </div>
                <div class="panel-body">
                  <div class="form-group">
                    <label>Program</label>
                    <div class= "input-group">
                      <input name="basic_info.training_program_or_school_address" type="text" class="form-control" value="{{basic_info.training_program_or_school_address}}">
                    </div>
                    <label>SSN</label>
                    <div class= "input-group">
                      <input name="basic_info.social_security" type="text" class="form-control" value="{{basic_info.social_security}}">
                    </div>
                    <label>Religion</label>
                    <div class= "input-group">
                      <input name="basic_info.religion" type="text" class="form-control" value="{{basic_info.religion}}">
                    </div>
                    <label>ID #</label>
                    <div class= "input-group">
                      <input name="UNRESOLVED" type="text" class="form-control" value="UNRESOLVED">
                    </div>
                    <label>Nickname</label>
                    <div class= "input-group">
                      <input name="basic_info.name_preferred" type="text" class="form-control" value="{{basic_info.name_preferred}}">
                    </div>
                    <label>Citizenship</label>
                    <div class= "input-group">
                      <input name="basic_info.citizenship" type="text" class="form-control" value="{{basic_info.citizenship}}">
                    </div>
                    <label>Marital Status</label>
                    <div class= "input-group">
                      <input name="basic_info.marital_status" type="text" class="form-control" value="{{basic_info.marital_status}}">
                    </div>
                    <label>Language</label>
                    <div class= "input-group">
                      <input name="basic_info.primary_language" type="text" class="form-control" value="{{basic_info.primary_language}}">
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Behavior Characteristics</label>
                    <input name="identifying.behavior" type="text" class="form-control" value="{{identifying.behavior}}">
                  </div>
                  <div class="form-group">
                    <label>Distinguishing Marks</label>
                    <textarea class="form-control" rows="4"></textarea>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Historical</h3>
                </div>
                <div class="panel-body">
                  <div class="form-group">
                    <label>Accompanied by</label>
                    <div class= "input-group">
                      <input name="basic_info.accompanied_by" type="text" class="form-control" value="{{basic_info.accompanied_by}}">
                    </div>
                    <label>Areas of meaningful tie</label>
                    <div class= "input-group">
                      <input name="basic_info.area_meaningful_tie" type="text" class="form-control" value="{{basic_info.area_meaningful_tie}}">
                    </div>
                    <label>Referral Source</label>
                    <div class= "input-group">
                      <input name="basic_info.area_meaningful_tie" type="text" class="form-control" value="{{basic_info.area_meaningful_tie}}">
                    </div>
                    <label>Birthplace</label>
                    <div class= "input-group">
                      <input name="basic_info.birthplace" type="text" class="form-control" value="{{basic_info.birthplace}}">
                    </div>
                  </div>
                </div>
              </div>  
            </div>
            <div class="col-xs-8">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Places</h3>
                </div>
                <div class="panel-body">
                  <div class= "col-xs-6">
                    <div class="panel panel-info">
                      <div class="panel-heading">
                        <h3 class="panel-title">Address</h3>
                      </div>
                      <div class="panel-body">
                        <div class="form-group">
                          <label>Current</label>
                          <div class= "input-group">
                            <input name="basic_info.address_current" type="text" class="form-control" value="{{basic_info.address_current}}">
                          </div>
                          <label>Day Program</label>
                          <div class= "input-group">
                            <input name="basic_info.training_program_or_school_address" type="text" class="form-control" value="{{basic_info.training_program_or_school_address}}">
                          </div>
                          <label>Work</label>
                          <div class= "input-group">
                            <input name="basic_info.work_address" type="text" class="form-control" value="{{basic_info.work_address}}">
                          </div>
                          <label>Prior Address</label>
                          <div class= "input-group">
                            <input name="basic_info.address_former" type="text" class="form-control" value="{{basic_info.address_former}}">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class= "col-xs-6">
                    <div class="panel panel-info">
                      <div class="panel-heading">
                        <h3 class="panel-title">Phone Number</h3>
                      </div>
                      <div class="panel-body">
                        <div class="form-group">
                          <label>Current</label>
                          <div class= "input-group">
                            <input name="basic_info.phone" type="text" class="form-control" value="{{basic_info.phone}}">
                          </div>
                          <label>Day Program</label>
                          <div class= "input-group">
                            <input name="basic_info.training_program_or_school_phone" type="text" class="form-control" value="{{basic_info.training_program_or_school_phone}}">
                          </div>
                          <label>Work</label>
                          <div class= "input-group">
                            <input name="basic_info.work_phone" type="text" class="form-control" value="{{basic_info.work_phone}}">
                          </div>
                          <label>Prior Address</label>
                          <div class= "input-group">
                            <input name="UNRESOLVED" type="text" class="form-control" value="UNRESOLVED">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Self Sufficency</h3>
                </div>
                <div class="panel-body">
                  <div class= "col-xs-6">
                    <div class="panel panel-info">
                      <div class="panel-heading">
                        <h3 class="panel-title">Travel</h3>
                      </div>
                      <div class="panel-body">
                        <div class="form-group">
                          <label>Places Frequented</label>
                          <input name="identifying.places_frequented" type="text" class="form-control" value="{{identifying.places_frequented}}">
                        
                          <label>Community Travel</label>
                          <input name="identifying.travel_method" type="text" class="form-control" value="{{identifying.travel_method}}">
                          <label>Surrounding Recognition</label>
                          <input name="identifying.surrounding_awareness" type="text" class="form-control" value="{{identifying.surrounding_awareness}}">
                          <label>Carries ID</label>
                          <input name="identifying.carries_ID" type="text" class="form-control" value="{{identifying.carries_ID}}">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class= "col-xs-6">  
                    <div class="panel panel-info">
                      <div class="panel-heading">
                        <h3 class="panel-title">Lost</h3>
                      </div>
                      <div class="panel-body">
                        <div class="form-group">
                          <label>Ability to protect self</label>
                          <input name="identifying.self_protection" type="text" class="form-control" value="{{identifying.self_protection}}">
                          <label>Response to search efforts</label>
                          <input name="identifying.response_to_search" type="text" class="form-control" value="{{identifying.response_to_search}}">
                          <label>Pattern of movement if previously lost</label>
                          <input name="identifying.movement_pattern" type="text" class="form-control" value="{{identifying.movement_pattern}}">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Parent History</h3>
                </div>
                <div class="panel-body">
                  <div class= "col-xs-6">
                    <div class="panel panel-info">
                      <div class="panel-heading">
                        <h3 class="panel-title">Mother</h3>
                      </div>
                      <div class="panel-body">
                        <div class="form-group">
                          <label>Name</label>
                          <input name="legal_guardian.mother_maiden_name" type="text" class="form-control" value="{{legal_guardian.mother_maiden_name}}">
                          <label>Birthdate</label>
                          <input name="legal_guardian.mother_birthday" type="date" placeholder="mm/dd/yyyy" class="form-control" value="{{legal_guardian.mother_birthday}}">
                          <label>Birthplace</label>
                          <input name="legal_guardian.mother_birthplace" type="text" class="form-control" value="{{legal_guardian.mother_birthplace}}">
                          <label>Alive</label>
                          <input name="legal_guardian.mother_alive" type="text" class="form-control" value="{{legal_guardian.mother_alive}}">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class= "col-xs-6">
                    <div class="panel panel-info">
                      <div class="panel-heading">
                        <h3 class="panel-title">Father</h3>
                      </div>
                      <div class="panel-body">
                        <div class="form-group">
                          <label>Name</label>
                          <input name="legal_guardian.father_name" type="text" class="form-control" value="{{legal_guardian.father_name}}">
                          <label>Birthdate</label>
                          <input name="legal_guardian.father_birthday" type="date" placeholder="mm/dd/yyyy" class="form-control" value="{{legal_guardian.father_birthday}}">
                          <label>Birthplace</label>
                          <input name="legal_guardian.father_birthplace" type="text" class="form-control" value="{{legal_guardian.father_birthplace}}">
                          <label>Alive</label>
                          <input name="legal_guardian.father_alive" type="text" class="form-control" value="{{legal_guardian.father_alive}}">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Parental Marital Status</label>
                    <input name="legal_guardian.parents_marital_status" type="text" class="form-control" value="{{legal_guardian.parents_marital_status}}">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-10 col-md-offset-1">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Self Preservation</h3>
              </div>
              <div class="panel-body">
                <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th> Date </th>
                      <th> Drill Type </th>
                      <th> Result </th>
                      <th> Assessment </th>
                      <th> Cause of Failure </th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in self_preservation %}
                    <tr>
                    <td><input type="date" placeholder="mm/dd/yyyy" name="self_preservation.existing.{{item.id}}.date_occurred" value="{{item.date_occurred}}"></td>
                    <td><input type="text" name="UNRESOLVED" value="UNRESOLVED"></td>
                    <td><input type="text" name="UNRESOLVED" value="UNRESOLVED"></td>
                    <td> <input type="text" name="self_preservation.existing.{{item.id}}.assessment" value="{{item.assessment}}"</td>
                    <td><input type="text" name="self_preservation.existing.{{item.id}}.cause_of_failure" value="{{item.cause_of_failure}}"</td>
                    </tr>
                    {% endfor %}
                    <tr>
                    <td><input type="date" placeholder="mm/dd/yyyy" name="self_preservation.new.0.date_occurred"></td>
                    <td><input type="text" name="UNRESOLVED" ></td>
                    <td><input type="text" name="UNRESOLVED"></td>
                    <td> <input type="text" name="self_preservation.new.0.assessment"></td>
                    <td><input type="text" name="self_preservation.new.0.cause_of_failure"></td>
                    </tr>
                    <tr>
                    <td><input type="date" placeholder="mm/dd/yyyy" name="self_preservation.new.1.date_occurred"></td>
                    <td><input type="text" name="UNRESOLVED" ></td>
                    <td><input type="text" name="UNRESOLVED"></td>
                    <td> <input type="text" name="self_preservation.new.1.assessment"></td>
                    <td><input type="text" name="self_preservation.new.1.cause_of_failure"></td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
          <input type="submit"></div>
        </div>
      </div>
    </form>
{% endblock %}
